body {
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.toc {
    background-color: white;
}

.title {
    color: black;
}

ul, ol, h3 {
    text-align: left;
}

